*{
    padding: 0;
    margin: 0;

}
body{
    /* background-color: ; */
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-color:rgb(202, 185, 154);
}

header{
    width: 100%;
     display: flex;
     justify-content: space-between;
     background-color: wheat;
}
header ul{
    display: flex;
    justify-content: space-evenly;
    width: 350px;
}
header ul li{
    list-style: none;
}
header ul li a{
text-decoration: none;
    color: black;

}
footer{
    position:absolute;
    bottom: 0;
    display: flex;
    height:40px;
    font-size:23px;
    justify-content: center;
    align-items: center;
    background-color:rgb(158, 146, 123);
    width: 100%;
}
.info{
    margin-top: 30px;
background-color: burlywood;
display: flex;
justify-content: center;
height: 80px;
border-radius: 10px;
box-shadow: -4px 4px 4px  2px black , 4px -4px 4px  2px black;

align-items: center;
width: 700px;
gap: 50px;
}
.info .input{
    background-color: antiquewhite;
height: 40%;
width: 60%;
padding-left: 10px ;
padding-right: 4px ;
border-radius: 10px;
font-size: 19px;
border: 0;
/* box-shadow: -2px 2px 2px 2px #bea720 ; */
}
.info .btn{
    width: 100px;
    height: 40px;
    background-color: rgb(236, 124, 124);
    border-radius: 7px;
    font-weight: bolder;
    font-size: 18px;
       color: aliceblue;

}
.content{
    width: 75%;
    min-height: 100px;
    background-color:  burlywood;
    margin-top: 40px;
    border-radius: 10px;
    margin-bottom: 80px;
    display: flex;
    flex-flow: column;
    align-items: center;
   box-shadow: -2px 2px 2px black;
}
.content h3{
 text-shadow: 2px 2px 5px  #080202 ;

}
.content div{
    background-color: rgb(236, 124, 124);
    width: 90%;
    height: 50px;
    margin: 20px;

    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: -3px 3px 3px black;
}
.active{
    text-decoration: line-through 4px black;
}
.del{
    border-radius: 8px;
    background-color:#ffe1bc;
    width: 70px;
    height: 40px;
    font-weight: bold;
    color: #dd7a7a;
    box-shadow: 5px 5px 5px #6b4545;
    border: 0px;
  transition: 0.5s;
}
.del:hover{
background-color: #fff5e7;
    box-shadow: 2px 2px 2px 5px #dfcdcd,-2px -2px 6px 5px #f8e8e8;
 text-shadow: 1px 1px 4px  #887979 ;
 font-weight: bolder;

}
.content div h3{
font-size: 24px;
color: white;

}
.scc{
    width: 40px;
    height: 28px;
    border-radius: 6px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: bisque;
    border: 0;
    box-shadow: 5px 5px 5px #6b4545;
    color: #dd7a7a;
      font-size: 18px;
      transition: 0.5s;
}
.scc:hover{
    background-color: #fff5e7;
    box-shadow: 2px 2px 2px 5px #dfcdcd,-2px -2px 6px 5px #f8e8e8;
 text-shadow: 1px 1px 4px  #887979 ;
 font-weight: bolder;

}
.clear{
    align-self: self-start;
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
    padding: 6px;
  
    border: none;
    box-shadow: 3px 3px 3px black;
    font-size: 16px;
    background-color: #dd7a7a;
    font-weight: bold;
    border-radius: 7px;
transition: 0.5s;
}
.clear:hover{
background-color: #fff5e7;
    box-shadow: 2px 2px 2px 5px #dfcdcd,-2px -2px 6px 5px #f8e8e8;
 text-shadow: 1px 1px 4px  #887979 ;
 font-weight: bolder;

}