*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    position: relative;
    background-color: #eef3ee;
    display: flex;
    flex-direction: column;
}
header{
    padding: 10px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}
header ul{
    display: flex;
   justify-content: space-evenly;
   width: 25%;
}
header ul a{
    text-decoration: none;
    color:#000000;
    transition: .5s;
    font-size: 18px;
    font-weight: 600;
    &:hover{
 color: #6ee4d4;
    }
}
header ul a li{
    list-style: none;
    text-transform: capitalize;
}
header .logo{
    margin-left: 20px;
    text-transform: capitalize;
}
footer{
    background-color: #E5E0D8;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight:800;
    text-transform: capitalize;
}
.form{
    margin-top: 120px;
    height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;
}
.form .in{
    height: 50px;
    width: 420px;
    padding-left: 19px;
    padding-right: 10px;
    font-size: 25px;
    border-radius: 15px;
    background-color: #fffefc;
    outline: none;
    border: none;
    border-bottom: .3px solid rgba(54, 54, 54, 0.534);
    color:#0c2e21;
    text-transform: uppercase;
}
.form .btn{
  padding: 11px 16px;

  font-size: 18px;
  font-weight: bold;
  border: none;
transition: .5s;
border-radius: 15px;
background-color:#74a19b;
color: rgba(231, 231, 231, 0.63);
&:hover{
    opacity: .5;
    cursor: pointer;
}
}
.result{
    margin-top: 205px;
    display: flex;
    justify-content: space-around;
}
.title{
    font-size: 35px;
    text-align: center;
    margin: 20px;
  color: #00000063;
}

.Info{
    width: 60%;
    padding: 10px;
    font-size: 19px;
    margin-top: 30px;
    font-weight: 700;
    text-align: center;
    border-bottom: solid .5px rgba(88, 87, 87, 0.575);
    align-self: center;
}