*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    min-height: 100vh;
    background-color: aliceblue;
    position: absolute;

}
.content{
    background-image: url(imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  overflow: hidden;
    margin: 0 20px;
position: relative;
}
.up{
position: fixed;
bottom: 40px;
right: 40px;
z-index: 1;
padding: 20px;
border-radius: 20px;
font-size: 16px;
border: none;
background-color: black;
color: white;
transition: .5s;
display: none;
&:hover{
    background-color: rgb(219, 219, 219);
    color: black;
    cursor: pointer;
}
.notHidden{
    display: block;
}
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

}
header ul{
    display: flex;
    gap: 30px;
   list-style: none;
   transition: 0.5s;
}
header .logo img {
    width: 200px;
    height: 100%;
}
header ul li a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
    &:hover{
     color: rgb(219, 219, 219);
    }
}
header .btns button{
    padding: 12px;
    font-size: 13px;
    font-weight: 600;
    border: none;
    border-bottom: solid rgb(189, 184, 184) .1px;
    background-color: rgb(248, 248, 248);
    border-radius: 15px;
    margin-right: 6px ;
transition: .5s;
animation: logo 1s;
animation-delay: 2s;

    &:hover{
   background-color: black;
   color: white;
   cursor: pointer;
}
}
.menu{
    display: none;
}
.contaner{
    display: flex;

}
.contaner .title-p{
    align-self: center;
    height: 400px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    margin-left: 40px
}
.title-p h2{
    padding: 25px;
animation: logo 1s;
animation-delay: 4.5s;
    animation-fill-mode: both;

font-size: 39px;
    span{
        color: rgba(0, 0, 0, 0.432);
    }
}
.title-p p{
    line-height: 1.9rem;
    letter-spacing: .5px;
    padding: 25px;
    margin-top: 40px;
    font-size: 19px;
    font-weight: 600;
animation: logo 1s;
animation-delay: 5.5s;
    animation-fill-mode: both;

}
.sub{
    padding: 15px 20px;
    margin: 10px;
    font-size: 16px;
    border: none;
    background-color: black;
    color: white;
    font-weight: 600;
    width: fit-content;
    border-radius: 20px;
    transition: .5s;
    margin-left: 25px;
    animation: logo 1s;
animation-delay: 6.5s;
    animation-fill-mode: both;

 &:hover{
    background-color: rgb(221, 221, 221);
    color: black;
   cursor: pointer; 
}
}

.sec0 {
 background-image: url(imgs/background3.jpg);
 background-repeat: no-repeat;
 background-size: cover;
}

footer{
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
   margin-top: 30px;
   position:relative; 
   bottom: 0;
 padding: 3px 20px ;

}

.info .title{
      padding-top: 20px;
color: white;
font-size: 23px;
    border-bottom: solid 1px rgb(238, 238, 238);
    padding-bottom: 25px;
    animation-fill-mode: both;

    span{
        color: rgba(196, 196, 196, 0.432);
    }
}
.logo-footer{
    display: flex;
    flex-direction: column;
border-bottom: white;
button{
    padding: 10px 30px ;
    border: none;
    font-size: 18px;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    margin-bottom: 20px;
    width: fit-content;
    border-radius: 25px;
    margin-left: 40px;
    &:hover{
        background-color: rgb(175, 175, 175);
        cursor: pointer;
    }
}
 img{
    width: 200px;
    height: 100px;
 }
}

.info p{
    font-weight: 400px;
    margin-left: 20px;
    color: white;
}
.links{
    padding: 10px;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: center;
    animation-fill-mode: both;

}
.Social{
    color: white;
    border-bottom: solid 1px rgb(238, 238, 238);
    padding-bottom: 25px;
    animation-fill-mode: both;

}


.contact .t{
text-align: end;
font-size: 23px;
color: rgba(255, 255, 255, 0.712);
margin-top: 20px;
}

.contact ul{
    display: flex;
    list-style:none;
    gap : 20px ;
    margin-top: 30px;
    animation-fill-mode: both;

    li a{
        color: white;
        text-decoration: none;
    }
}

footer ul{
    display: flex;
    gap:20px;
    width: 100%;
    justify-content: end;
    margin-top: 30px;
    li a{
        text-decoration: none;
        color: white;
        i {
            font-size: 20px;
        }
    }
}

@media (max-width:980px) {
    .sec3{
        display: none;
    }
    body{
        background-color: aliceblue;
        
    }

    header ul, .btns{
        display: none;
    }
    .menu {
        display: block;
        cursor: pointer;
        margin-right: 20px;
        margin-top: 10px;
    }
    .scal{
        transform: rotate(90deg);
    }
    
    .menu i{
        font-size: 21px;
        transition: .5s;
     
    }
    .logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .hidden{
        display: flex;
        flex-flow: column;  
        align-self: flex-start; 
        
    }
    header ul{
        width: 100%;
    }
    header ul li{
     flex-grow: 1;
     display: flex;
     align-items: center;
        width: 100%;
        border-bottom: solid .1px black;
        padding: 0 10px;
        height: 30px;
        transition: .5s;
        &:hover{
            background-color: black;
            a{
                color: white;
            }
        }
        a{
            font-weight: 600;
        }
    }
    .btns button{
        margin-top: 2px;
        padding: 9px;
    }
    .btns{
        margin-top: 8px;
        gap: 2px;
        width: 100%;
    }
header{
    display: flex;
   flex-flow: column;
}
.contaner{
    flex-direction: column;
    padding: 0;
    align-items: center;
}
}
button a{
    text-decoration: none;
    color: white;

}
.tel{
    position: fixed;
    bottom: 50px;
    left: 50px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    border: none;
    border-radius: 50%;
    background-color: rgb(43, 180, 30);
    transition: .5s;
    z-index: 1;
    &:hover{
        cursor: pointer;
        background-color: rgb(90, 216, 100);
    }
}

/* *{
    animation-name: show;
animation-duration: s;
} */
.photo-img img{
        animation-name: showPhotos;
animation-duration: 1.5s;
    animation-delay: 3s;
}

@keyframes showPhotos {
from{
        opacity: 0;
        translate: 100px;

    }
    to{
        opacity: 1;
    }
}

header .logo {
    animation: 1s logo;
}
header ul {
    animation: 2s logo;
    animation-delay: 1s;
}
*{
    animation-fill-mode: backwards;
    animation-timing-function: linear;
}
header ul , header .btns button{
    animation-fill-mode: both;

}

@keyframes logo {
from{
        opacity: 0;
        translate:  0 -70px;

    }
    to{
        opacity: 1;
    }
}